fastapi~=0.116.1
uvicorn
scikit-learn~=1.7.1
joblib~=1.5.1
python-dotenv
requests
pymongo
motor

pydantic~=2.11.7
pandas~=2.3.1
geopy~=2.4.1
openmeteo_requests~=1.6.0
requests-cache~=1.2.1
matplotlib~=3.10.3
seaborn~=0.13.2
folium~=0.20.0
branca~=0.8.1
numpy~=2.3.2
protobuf~=5.29.5
google-genai